body {
    padding: 0;

    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans SemiBold", Nunito, Arial, sans-serif;
}

header {
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
}
p{
    margin: 5px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;

}

li {

    list-style: none;
}

.header-lg {
    position: fixed;
    top: 0;

}

.navigation-lg {
    display: flex;
    width: 100%;
    height: 60px;

}

.logo-part {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    /* background-color: blue; */
}



.main-nav {
    width: 67%;
    position: relative;
    /* background-color: brown; */
}

.main-nav-list {
    display: flex;
    font-weight: 100;
    font-size: small;
    margin-bottom: 5px;
}

.main-nav-list>li {
    padding: 7px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}

.new-element {
    position: relative;
    top: 5px;
    left: 335px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 2px solid gainsboro;

    width: 200px;
}

.new-element>div {
    margin-top: 2px;
    padding: 3px;
    border-radius: 5px;

}

.none {
    display: none;
}

.main-nav-items:hover {
    background-color: rgb(228, 228, 228);
    text-decoration: underline;
}

#home-item {
    display: flex;
    justify-content: center;
}

.profile-section {
    width: 25%;
    position: relative;
    /* background-color: blueviolet; */
}

.profile-navigation {
    position: relative;
    top: 7px;
    right: 150px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    z-index: 100;
    width: 300px;

}

.languages {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
}

.profile-navigation>div {
    margin-top: 2px;
    padding: 3px;
    border-radius: 5px;

}

.profile-section-list {

    margin-left: 180px;
    padding: 10px;
}

.profile-section-list span {
    margin: 5px;
    margin-right: 7px;
    margin-left: 7px;
}

.profile-section-list span:hover {
    background-color: rgb(228, 228, 228);
}

.profile-img {
    background-color: white;
    width: 30px;
    margin-left: 7px;
    height: 30px;
    border-radius: 100%;
}

.down-arrow {
    cursor: pointer;
    font-size: smaller;
    text-decoration: none;
}

.main-content {
    /* background-color: aqua; */
    margin-top: 6rem;
}

.main-section {
    width: 60%;
    margin: auto;
    /* background-color: rgb(110, 110, 183); */
}

.welcome-heading {
    padding: 20px;
    color: red;
    font-size: x-large;
}

.welcome-para {
    font-size: smaller;
    padding: 20px;
}

.welcome-para>a {
    color: blue;
}

.search-bar {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.search-bar>input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 7px;
    margin-right: 0;
    border-color: white;

    text-align: left;
    font-size: smaller
}

.search-bar>span {
    background-color: #2863AB;
    color: wheat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.subscribe-div>h1 {
    padding: 20px;
    color: red;
}

.subscribe-div>p {
    text-align: right;
    color: #2863AB;
    font-size: smaller;
}

.subscribe-div>div {
    width: 100%;
    margin: auto;
    padding: 10px;
    color: #00434e;
    background-color: #cce6ea;
    border-color: #b8dce2;
    border-radius: 6px;
    margin-top: 2rem;
    font-size: smaller;
}



.course-div>h1 {
    color: red;
    padding: 20px;
}

.course-div>p {
    text-align: right;
    color: #2863AB;
    font-size: smaller;
    cursor: pointer;
}

.course-item {
    display: flex;
    margin: 5px;
    padding: 2px;
    justify-content: start;
    color: gray;
    
    font-size: small;
}

.course-item-heading {
    color: #2863AB;
    font-size: smaller;
    cursor: pointer;

}

.hidden-course-item {
    color: #2863AB;
    font-size: smaller;
    cursor: pointer;
    padding-left: 30px;

}

.course-item-heading:hover {
    color: #1b4982;
    text-decoration: underline;
}

.left-arrow {
    color: gray;
}

.profile-section-list-mob {
    display: none;
}

/* Responsive
     for mobile */

@media screen and (max-width: 480px) {
    .main-content {
        margin-top: 4rem;
    }

    .main-nav {
        display: none;
    }

    .logo-part {
        display: none;
    }

    .profile-section {
        width: 100%;
    }

    .profile-section-list {
        display: none;

    }

    .profile-section-list-mob {
        display: block;
    }

    .profile-nav-mob {
        display: flex;
        justify-content: end;
        padding: 10px;
        margin: 10px;

    }

    .profile-nav-mob>span {
        margin: 2px;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
    }

    .aside-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-section {
        width: 100%;
        padding: 1px;
    }

    .welcome-heading {
        padding: 5px;
    }

    .welcome-para {
        padding: 5px;
        font-size: x-small;
    }


    .search-bar>input {
        padding: 2px;
    }

    .subscribe-div {

        padding: 5px;
    }

    .subscribe-div>h1 {
        padding: 2px;
        font-size: medium;
    }

    .subscribe-div>p {
        padding: 10px;
    }

    .subscribe-div>div {
        padding: 5px;
        font-size: x-small;
    }

    .course-div>h1 {
        padding: 2px;
        font-size: medium;
    }

    .course-div>p {
        padding: 10px;
    }



}